*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(40, 38, 38);
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a.active {
    color: tomato;
}

nav a:hover {
    color: red;
}

header{
    font-size: 20px;
    text-align: center;
    background-color: rgb(40, 38, 38);
    color: white;
    width: auto;
    height: 100px;
}

.HL{
    text-decoration: none;
    color: white; 
}

.HL:hover{
    color: red;
}

.otstup{
    margin: 10px;
    padding: 5px;
}

.OtstupList{
    margin: 20px;
    padding: 5px;
}

.EdaPict{  
    
    width: auto;
    height: 400px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  font-style: normal;
  font-size: 24px;
}

.Tablepopular,th,td{  
    border: 2px solid;
    border-collapse:collapse;
    width: auto;
    text-align: left;
    margin: 30px;
}

th,td{
    padding: 5px;
}

footer{
    background-color: black;
    font-size: 40px;
    color: red;
    width: auto;
    height: 60px;
}

#phone{
    color: white;
    margin: 5px;
}


h2{
    font-size: 40px;
}

/* Адаптивность */
@media (max-width: 800px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    h1 {
        text-align: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 28px;
    }

    .menu-grid {
        grid-template-columns: 1fr;
    }
}





